---
import Layout from "../layouts/Layout.astro";
import Info from "../components/Info.astro";
import Logo from "../components/Logo.astro";
---

<Layout>
  <main>
    <Logo />
    <Info />
  </main>
</Layout>

<style lang="scss">
  main {
    display: block;
    height: 100%;
  }
</style>
