<h1>
  <span>JH</span>
</h1>

<style lang="scss">
  h1 {
    position: relative;
    left: 0;
    top: 0;
    display: inline-block;
    margin: 0;
    padding: 50px 10px 0 50px;
    background: yellow;
    color: black;
    font-size: 6.4rem;
    font-weight: 600;

    &:hover {
      background-color: black;
      color: yellow;
    }

    @media (min-width: 999px) {
      padding: 100px 10px 0 100px;
      font-size: 9.6rem;
    }
  }
</style>
